@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700i');
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.scroll-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}
.scroll-container section {
	width: 100%;
	height: 100%;
}
.dots {	
	z-index: 1;
	list-style: none;
	padding: 0;
	position: absolute;	
    top: 50%;
    transform: translateY(-50%);
}
.dots li a {
	padding: 10px;
	width: 4px;
	height: 5px;
	display: block;
}
.dots li a:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, 0.48);
	border-radius: 10px;	
	transition: transform 0.3s ease, background-color 0.3s ease;
}
.dots li a.active:before {
	content: '';
	background-color: #FFFFFF;
	width: 14px;
	height: 14px;
	margin-top: -4px;
	left: 7px; 
	background-color: white;
	transform: scale(1.0);
}
.dots-right {
	left: 25px;
}
.dots-left {
	right: 10px;
}
.section1 {
    background: linear-gradient(-45deg, #c6aae5, #6b5399, #4e3372, #311c4c);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
#page-wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }
#btn {
    position: fixed;
    z-index: 5;
    top: 15px;
    left: 15px;
    cursor: pointer;
    transition: left 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#btn div {
    width: 35px;
    height: 2px;
    margin-bottom: 8px;
    background-color: #00DFFC;
    transition: opacity 500ms, background-color 250ms;
    transition: transform 500ms cubic-bezier(0.6, 0.05, 0.28, 0.91), opacity 500ms, background-color 250ms;
}
#btn.active {
    left: 230px;
}
#btn.active div {
    background-color: #343838;
}
#btn.active #top {
    transform: translateY(10px) rotate(-135deg);
}
#btn.active #middle {
    opacity: 0;
    transform: rotate(135deg);
}
#btn.active #bottom {
    transform: translateY(-10px) rotate(-45deg);
}
#box {
    position: fixed;
    z-index: 4;
    overflow: auto;
    top: 0px;
    left: -275px;
    width: 275px;
    opacity: 0;
    padding: 20px 0px;
    height: 100%;
    background-color: #f6f6f6;
    transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
}
#box.active {
    left: 0px;
    opacity: 1;
}
#items a{
    text-decoration: none;
    color: #311c4c;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
#items {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#items .item {
    position: relative;
    cursor: pointer;
    font-size: 2em;
    padding: 15px 30px;
    transition: all 250ms;
}
#items .item:hover {
    padding: 15px 45px;
    background-color: #4e3372;
    color: #fff;
}
#btn, #btn * {
    will-change: transform;
}
#box {
    will-change: transform, opacity;
}
@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
section div {
    position: relative;
}
#title{
    font-family: 'Gentium Book Basic', serif;
    font-size: 150px;
    position: relative;
}
.center { 
    color: #fff;
    z-index: 100;
    top: 41%;
    text-align: center;
} 
.txt-rotate:after {
    content: "";
    animation: blink 1.5s infinite;
    font-weight: 100;
    opacity: 1;
    border-right: 0.02em solid #fff;
}
@keyframes blink {
    50% {
      opacity: 0.0;
    }
}
.blink {
    animation: blink 1s step-start 0s infinite;
}
.wrap-scrolldownhoney {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 91%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.wrap-scrolldownhoney .scrolldownhoney {
    border: 2px solid #fff;
    border-radius: 30px;
    height: 46px;
    margin: 0 auto 8px;
    text-align: center;
    width: 30px;
}
.wrap-scrolldownhoney .scrolldownhoney .scrolldownhoney-c1,
.wrap-scrolldownhoney .scrolldownhoney .scrolldownhoney-c2 {
    animation-duration: 1.5s;
    animation-name: scrolldownhoney;
    animation-iteration-count: infinite;
    fill: #fff;
}
.wrap-scrolldownhoney .scrolldownhoney-c2 {
    animation-delay: 0.75s;
}
@keyframes scrolldownhoney {
    0% {
      opacity: 0;
      transform: translate(0, -8px);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0);
    }
    100% {
      opacity: 0;
      transform: translate(0, 8px);
    }
}
.section2 {
    background-color: #493268; 
    color: #fff;
    font-family: 'Nanum Gothic', sans-serif;
}
.flex-gallery {
    display: flex;
    height: 100vh;
}
.flex-gallery__item {
    flex: 1;
    background: 333;
    transition: all 0.5s ease;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    display: flex;
    overflow: hidden;
}
.flex-gallery__item.active {
    flex: 4;
}
.flex-gallery__item.visible {
    opacity: 1;
}
.flex-gallery__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.flex-gallery__content > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    transition: all 0.2s ease;
}
.flex-gallery__content > div:first-child {
    transform: translateY(-100%);
}
.flex-gallery__content > div:last-child {
    transform: translateY(100%);
}
.flex-gallery__item.visible .flex-gallery__content > div:first-child {
    transform: translateY(0);
}
.flex-gallery__item.visible .flex-gallery__content > div:last-child {
    transform: translateY(0);
}
.section3 {
    background-color:  #588b92;
}
.story_title{
    font-family: 'Song Myung', serif;
    position: relative;
    left: 10%;
    top: 6.8em;
    font-size: 100px;
    color: #fff;
}
.story{
    position: relative;
    line-height: 35px;
    width: 1080px;
    left: 63%;
    transform: translateX(-50%);
    top: 13%;
}
#player{
    position: relative;
    left: 30%;
    top: 5em;
}
#story1_1{
    display: none;
}
#button2{
    display: inline;
    position: relative;
    left: 11%;
    top: 5.5em;
    padding: 3px 8px 3px 8px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
    color: #fff;
    border: solid 2px #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
#button2:hover{
    color: #588b92;
    background-color: #fff;
}
.section4 {
    background-color:  #a39a43;
}
.story_title2{
    font-family: 'Song Myung', serif;
    position: relative;
    top: 3.2em;
    left: 10%;
    font-size: 100px;
    color: #fff;
}
.story_2{
    position: relative;
    line-height: 35px;
    width: 1080px;
    left: 39%;
    transform: translateX(-50%);
    top: 43%;
}
#button{
    display: inline;
    position: relative;
    top: 13em;
    left: 11%;
    padding: 3px 8px 3px 8px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
    color: #fff;
    border: solid 2px #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
#button:hover{
    color: #a39a43;
    background-color: #fff;
}
#story2_1{
    display: none;
}
p{
    color: #fff;
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100%;
    margin-top: 10px;
}
.clock {
    display: none;
    width: 25rem;
    height: 25rem;
    border: 7px solid #545271;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    bottom: 3em;
    left: 20%;
    box-shadow: 0 20px 30px rgba(104,75,106,0.65);
    background: #545271;
}
.outer-clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: #fefefc;
    box-shadow: 0 20px 10px rgba(62,47,63,0.45);
    overflow: hidden;
}
.outer-clock-face::after {
    transform: rotate(90deg)
}
.outer-clock-face::before,
.outer-clock-face::after,
.outer-clock-face .marking{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #b8b8c5;
    z-index: 0;
    left: 49%;
}
.outer-clock-face .marking {
    background: #bdbdcb;
    width: 3px;
}
.outer-clock-face .marking.marking-one {
    transform: rotate(30deg)
}
.outer-clock-face .marking.marking-two {
    transform: rotate(60deg)
}
  
.outer-clock-face .marking.marking-three {
    transform: rotate(120deg)
}
.outer-clock-face .marking.marking-four {
    transform: rotate(150deg)
}
.inner-clock-face {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: #fefefc;
    border-radius: 100%;
    z-index: 1;
}
.inner-clock-face::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 18px;
    margin-left: -9px;
    margin-top: -6px;
    background: #4d4b63;
    z-index: 11;
}
.hand {
    width: 50%;
    right: 50%;
    height: 6px;
    background: #61afff;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.hand.hour-hand {
    width: 20%;
    z-index: 3;
}
.hand.min-hand {
    height: 3px;
    z-index: 10;
    width: 35%;
}
.hand.second-hand {
    background: #ff5e5e;
    width: 40%;
}
.story_title3{
    font-family: 'Song Myung', serif;
    position: relative;
    top: 1.5em;
    left: 50%;
    font-size: 100px;
    color: #fff;
}
.story_3{
    position: relative;
    line-height: 35px;
    width: 1080px;
    left: 35%;
    transform: translateX(-50%);
    top: 40%;
}
#story_ex4{
    margin-top: 80px;
}
.section5 {
    background-color:  #6e2d2d;
} 
.section6 {
    background: linear-gradient(-45deg, #c6aae5, #6b5399, #4e3372, #311c4c);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 300px;
    left: 73%;
    top: 13%;
    cursor: pointer;
}
#box-div{
    display: none;
}
#story3_1{
    display: none;
}
#button3{
    display: inline;
    position: relative;
    top: 6.5em;
    left: 82%;
    padding: 3px 8px 3px 8px;
    font-family: 'Gentium Book Basic', serif;
    font-size: 30px;
    color: #fff;
    border: solid 2px #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
#button3:hover{
    color: #6e2d2d;
    background-color: #fff;
}