@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:700,900&display=swap');
.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select:none;
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display:none;
}
#fixed_menu{
    width:100%;
    height:80px;
    position: absolute;
    position:fixed;    /*위치 fixed*/
    z-index: 999;
}
#logo{
    position: absolute;
    float: left;
    margin-top: 50px;
    margin-left: 55px;
}
#logo_hv{
    position: absolute;
    margin-top: 50px;
    margin-left: 55px;
}
#logo_ch a> #logo_hv {
    opacity: 0;
    transition: opacity 0.3s
}
#logo_ch a:hover > #logo_hv {
    opacity: 1;
}
#main_menu{
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 40px;
}
#main_menu li{
    display: inline;
    font-size: 18px;
    color: #353535;
    padding-right: 28px;
    padding-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
}
#main_menu li a{
    text-decoration: none;
    color: #353535;
}
#main_menu li a:hover{
    border-bottom: 2px solid;
    padding-bottom: 2px;
    color: #e85353;
    transition-duration: 0.3s;
}
.section1{
    width: 100vw;
    height: 100vh;
}
#main img{
    position: absolute;
    margin-left: 473px;
    margin-top: 340px;
}
#img_main > #main_hv {
    opacity: 0;
    transition: opacity 0.3s
}
#img_main:hover > #main_hv {
    opacity: 1;
}
.section2{
    width: 100vw;
    height: 100vh;
    background-color: #e6e6e6;
}
.section3{
    width: 100vw;
    height: 100vh;
    background-color: violet;
}
.section4{
    width: 100vw;
    height: 100vh;
    background-color: orange;
}
.background img{
    position: absolute;
    top: -100px;
    left: -100px;
}
#ar1_hv{
    display: none;
}
.about p{
    position: absolute;
    font-size: 100px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    margin-top: 260px;
    margin-left: 1000px;
    color: #353535;
}
.about p span{
    text-decoration: line-through;
    font-style:italic;
    color: #353535;
}
#about1{
    position: absolute;
    width: 70px;
    height: 100px;
    margin-top: 360px;
    margin-left: 1530px;
}
.hello{
    position: absolute;
    margin-top: 550px;
    margin-left: 1020px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
#resume{
    width: 100px;
    text-align: center;
    padding: 7px;
    border: 1px solid #353535;
    margin-top: 50px;
    transition-duration: 0.3s;
}
#resume:hover{
    background-color: #353535;
    color: #fff;
    transition-duration: 0.3s;
}
#intro{
    width: 175px;
    text-align: center;
    padding: 7px;
    border: 1px solid #353535;
    margin-top: 20px;
}
#intro:hover{
    background-color: #353535;
    color: #fff;
    transition-duration: 0.3s;
}
.contact{
    position: absolute;
    margin-top: 570px;
    margin-left: 1300px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-size: 20px;
}
.contact p{
    margin-top: 40px;
    line-height: 160%;
}
.contact a{
    list-style: none;
    display: inline;
    color: #353535;
}
#insta{
    font-size: 25px;
    margin-top: 10px;
}
#fb{
    font-size: 25px;
    margin-left: 35px;
}
#git{
    font-size: 25px;
    margin-left: 35px;
}
.left{
    list-style: none;
    position: absolute;
    margin-top: 180px;
    font-size: 80px;
    color: #353535;
    padding-right: 28px;
    padding-left: 60px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 900;
    line-height: 160%;
}
.left ul{
    margin-left: 60px;
}
.left li a{
    text-decoration: none;
    color: #353535;
}
.right{
    position: absolute;
    width: 900px;
    margin-left: 895px;
    text-align: right;
    margin-top: -130px;
}
.right li a{
    text-decoration: none;
    color: #353535;
}
#work_list li img{
    position: absolute;
    margin-left: 105px;
    margin-top: -75px;
    opacity: 0;
    transition: opacity 0.3s
}
#work_list #bixby{
    margin-left: -505px;
}
#work_list #unispop{
    margin-left: -690px;
}
#work_list #cantata{
    margin-left: -1160px;
}
#work_list #ttago{
    margin-left: -545px;
}
#super{
    z-index: 1;
}
#eting_ar{
    position: absolute;
    margin-left: -10px;
    margin-top: -577px;
    opacity: 0;
    transition: opacity 0.3s
}
#walle_ar{
    position: absolute;
    margin-left: -10px;
    margin-top: -448px;
    opacity: 0;
    transition: opacity 0.3s
}
#super_ar{
    position: absolute;
    margin-left: -18px;
    margin-top: -320px;
    opacity: 0;
    transition: opacity 0.3s
}
#tarts_ar{
    position: absolute;
    margin-left: -10px;
    margin-top: -193px;
    opacity: 0;
    transition: opacity 0.3s
}
#frients_ar{
    position: absolute;
    margin-left: -10px;
    margin-top: -65px;
    opacity: 0;
    transition: opacity 0.3s
}
#bixby_ar{
    position: absolute;
    margin-left: 1470px;
    margin-top: -577px;
    opacity: 0;
    transition: opacity 0.3s
}
#unispop_ar{
    position: absolute;
    margin-left: 1290px;
    margin-top: -450px;
    opacity: 0;
    transition: opacity 0.3s
}
#cantata_ar{
    position: absolute;
    margin-left: 825px;
    margin-top: -323px;
    opacity: 0;
    transition: opacity 0.3s
}
#ttago_ar{
    position: absolute;
    margin-left: 1440px;
    margin-top: -65px;
    opacity: 0;
    transition: opacity 0.3s
}